---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Csv from '../components/Csv';
---

<Layout title="one piece info">
	<main >
		<Csv client:load />
	</main>
</Layout>

