---
import Layout from '../layouts/Layout.astro';

import data from '../../data.json'
const { arr, firstData } = data;

---

<Layout title="one piece info">
	<main>
		<div class="overflow-x-auto">
			<table class="table">
				<thead>
					<tr>
						{firstData.map(x => <th>{x}</th>)}
					</tr>
				</thead>
				<tbody>
					{
						arr.slice(1).map(x => (
							<tr>
								<th>{x[0]}</th>
								{x.slice(1).map(x => (
									<td>{x}</td>
								))}
							</tr>
						))
					}
				</tbody>
			</table>
		</div>
	</main>
</Layout>
